<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<style>
#formulario {
	position: relative !important;
	left: 70% !important;
}
#label{
	position: relative !important;
	left: 17% !important;
}
</style>
<body>
<header th:replace="layout/layout :: header"></header>
<h2 id="label">Crear Categoria</h2>
<br/>
<div class="row">
        <div class="col-md-3 form-horizontal">
             <form  id="formulario" th:action="@{/categories/add}" method="post">
                
                 <input type="text" class="form-control" name="name" placeholder="Ingrese el nombre">
                 <br/>
                 <input type="text" class="form-control" name="description" placeholder="Ingrese la descripcion">
                 <br/>
                 <button class="btn btn-primary" type="submit">Agregar</button>
             </form>
        </div>
</div>
</body>
</html>