<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h2>Detalles de Categorias</h2>
		<div class="card">
			<div class="card-header text-white bg-secondary">Datos de Categoria</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text="'ID : '+${category.id}"></li>
					<li class="list-group-item" th:text="'Nombre : '+${ctegory.name}"></li>
					<li class="list-group-item" th:text="'Descripcion : '+${category.description}"></li>
				</ul>
				<br/>
				<a th:href="@{/category/list}" class="btn btn-success">Regresar</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>