<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Apolo</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>

	<div class="container" align="center">
		<div class="card border-light text-center">
			<div class="card-body" align="center">
				<form th:action="@{/login}" method="post">

					<div class="col-sm-6">
						<img th:src="@{/img/rosatel.png}" height="35%" width="35%" />
					</div>
					<div class="text-center">
						<h1 class="h4 text-gray-900 mb-4">Welcome to ProTechCorp</h1>
					</div>
					<div class="col-sm-6">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="username" autofocus required />
					</div>
					<br>
					<div class="col-sm-6">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="password" required />
					</div>
					<br>
					<div class="col-sm-6">
						<input type="submit" class="btn btn-primary btn-user btn-block"
							value="Sign in" />
					</div>
				</form>
				   <hr>
                  <div class="text-center">
                    <a class="small" href="#l">Forgot your password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" th:href="@{/register}">Sign up</a>
                  </div>

			</div>
		</div>
		<div align="center" class="col-sm-6">
			<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>
		</div>
	</div>



</body>
</html>